$primary: #7AA2F7;
$secondary: #3B4261;
$bg: #24283B;

th {
    cursor: pointer;
}

td, th {
    border: thin solid #3B4261;
    padding: 5px 10px;
}


th:hover {
    background-color: $primary;
    color: $bg;
}

table {
    border-collapse: collapse;
    border: solid #7AA2F7;
}

.select {
    background-color: $primary;
    color: $bg;
}

.tab {
    display: flex;
    button {
        background-color: #3B4261;
        color: #7AA2F7;
        border: none;
        padding: 1em;
        font-weight: bold;
    }
    button:hover {
        background-color: #7AA2F7;
        color: #24283B;
    }
}

.searchBar {
    display: flex;
    input {
        padding: 0.4em;
    }
}
