
th {
    cursor: pointer;
}

td, th {
    border: thin solid var(--secondary);
    padding: 5px 10px;
}


th:hover {
    background-color: var(--primary);
    color: var(--bg);
}

table {
    border-collapse: collapse;
    border: solid var(--primary);
}

.select {
    background-color: var(--primary);
    color: var(--secondary);
}

.cont {
    width: 100vw;
    overflow: scroll;
}

.tab {
    display: flex;
    button {
        background-color: var(--secondary);
        color: var(--primary);
        border: none;
        padding: 1em;
        font-weight: bold;
    }
    button:hover {
        background-color: var(--primary);
        color: var(--bg);
    }
}

.searchBar {
    display: flex;
    input {
        padding: 0.4em;
    }
}
